*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.blog{
    width: 100%;
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: #FDE9C9;
    gap: 50px
}
.blog__cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px
}
.blog__image{
    width: 300px;
    height: 200px;
    object-fit: cover;      
    border-radius: 100px;  
}

.blog__title{
    font-size: 32px;
    color: #13829B;
    font-weight: 400;
    margin-top: 20px;
}
.blog__card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.blog__link{
    color: #333;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.blog__link-read{
    padding: 20px 46px;
    background-color: white;
    color: #13829B;
    font-size: 20px;
    border-radius: 6px;
    text-decoration: none;
    border: 1px solid #13829B
}
.blog__card--active{
    border: 1px solid red;
}
@media screen and (max-width: 1100px) {
    .blog__image{
        width: 200px;
        height: 150px;
    }
    .blog__cards-container{
        gap: 40px
    }
    .blog__card{
        gap: 10px
    }
    .blog__title{
        font-size: 26px;
    }
    .blog__link{
        font-size: 12px;
    }
    .blog__link-read{
        padding: 15px 35px;
        font-size: 16px;
    }
}
@media screen and (max-width: 750px) {
    .blog__image{
        width: 120px;
        height: 120px;
    }
    .blog__title{
        font-size: 22px;
    }
    .blog__link{
        font-size: 10px;
    }
}
@media screen and (max-width: 550px) {
    .blog__cards-container{
        flex-direction: column;
        gap: 50px
    }
    .blog__title{
        font-size: 32px;
    }
    .blog__link{
        font-size: 15px;
    }
    .blog__image{
        width: 200px;
        height: 200px;
    }
}